.red {
  background-color: red;
  border: solid 5px red;
}

.green {
  background-color: green;
  border: solid 5px green;
}

.blue {
  background-color: blue;
  border: solid 5px blue;
}

.white {
  background-color: white;
  border: solid 5px white;
}

.container-1 {
  border: solid 10px transparent;
  margin: 0 auto;
  background-image: url(../img/ohiostadium.jpg);
  background-size: 100%;
  max-width: 960px;

  .container-2 {
    margin: 20px auto;
    border: solid 15px transparent;
    max-width: 860px;
    padding: 4px;
    background-color: #eeeeee;

    .group-container {
      text-align: center;

      .kl-box {

        display: inline-block;
        margin-bottom: 10px;
        position: relative;
        height: 100px;
        cursor: pointer;

        &:hover{
          border: solid 5px black;
        }

        header {
          position: relative;
          height: 20px;
          padding: 4px;
          font-weight: bold;
          border-bottom: dashed 1px black;

          .delete-container {
            cursor: pointer;
            position: absolute;
            right: 2px;
            top: 0;
          }
        }

        .kl-left-indicator {
          display: inline-block;
          position: absolute;
          height: 44px;
          left: 0;
          font-size: 40px;
          margin: 9px 0 0 2px;
        }

        .kl-right-indicator {
          display: inline-block;
          position: absolute;
          right: 0;
          height: 44px;
          font-size: 40px;
          margin: 9px 2px 0 0;
        }
      }

      .kl-box:nth-child(1),
      .kl-box:nth-child(2),
      .kl-box:nth-child(3) {
        width: 31%;
      }

      .kl-box:nth-child(3) {
        .kl-right-indicator {
          display: none;
        }
      }

      .kl-box:nth-child(4),
      .kl-box:nth-child(5) {
        width: 46.5%;
      }

      .kl-box:nth-child(4){
        .kl-left-indicator {
          display: none;
        }
      }

      .kl-box:nth-child(5){
        .kl-right-indicator {
          display: none;
        }
      }


      .kl-box:nth-child(6) {
        width: 96%;

        .kl-right-indicator {
          display: none;
        }

        .kl-left-indicator {
          display: none;
        }
      }

      .kl-box:last-child {
        border: solid 5px red;

        &:hover{
          border: solid 5px black;
        }

        .kl-right-indicator {
          display: none;

        }
      }

      .kl-box:first-child {

        .kl-left-indicator {
          display: none;
        }
      }
    }
  }
}
